
@{
    ViewBag.Title = "Index";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YiCraft 意界</title>


    <script type="text/javascript" charset="utf-8"
            src="http://connect.qq.com/qc_jssdk.js"
            data-appid="101890493"
            data-redirecturi="http://yicraftcore.com/Login">

        
    </script>


    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/flexslider.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/queries.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />

</head>
<body id="top" style="overflow-x: hidden">

                        <span id="qqLoginBtn">
                            <a href="javascript:;"
                               onclick="return window.open('https://graph.qq.com/oauth2.0/authorize?client_id=101895728&response_type=token&scope=all&redirect_uri=http://yicraftcore.com/Login',
        'oauth2Login_10532', 'height=525,width=585, toolbar=no, menubar=no, scrollbars=no, status=no, location=yes, resizable=yes');">
                                <img src="https://qzonestyle.gtimg.cn/qzone/vas/opensns/res/img/Connect_logo_7.png" alt="QQ登录" border="0">
                            </a>
                        </span>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/js/jquery.flexslider.js"></script>
    <script src="~/js/modernizr.js"></script>
    <div style="display:none">
        <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script>
    </div>
</body>
</html>