@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}
@{
    Session["uid"] = "游客";
    Session["cheak1"] = "1";
    Session["cheak2"] = "1";
}
<meta name="viewport" content="width=device-width" />
<title></title>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container-fluid">
    <div class="col align-items-center">
        <div class="jumbotron center-block text-center">
            <h3>本网站实行会员制，请你回答接下来十道题目，答对七题即可注册</h3>
            <h3>请点击下方按钮开始答题</h3>
            <a href="~/question/questionlist"><input type="button" value="开始答题" /></a>
        </div>
    </div>
</div>


